{% extends "base.html" %}

{% block content %}
    {% if articles %}
        <div class="article_list_container">
            {% for article in articles %}
                <div class="article_container">
                    <h1 class="article_header">{{article.title}}</h1>
                    <p class="article_body">
                        <span>Текст статьи:</span>
                        {{article.text}}
                    </p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
