.article_header {
    background-color: #99bb2e;
    color: white;
}

.article_body {
    background-color:#cc6666;
    color: white;
}

.article_container {
    background-color: #445891;
    color:white;
}
